@keyframes backgroundColor {
    0%  { background-color: rgb(5, 5, 7); }
    20% { background-color: rgb(12, 12, 17); }
    40% { background-color: rgb(20, 20, 32); }
    50% { background-color: rgb(24, 24, 39); }
    60% { background-color: rgb(20, 20, 32); }
    80% { background-color: rgb(12, 12, 17); }
    100% { background-color: rgb(5, 5, 7); }
}

@keyframes shiftingTextColor {
    0% {color: rgb(155, 106, 16); transform: translateX(0);}
    25% {color: rgb(216, 161, 60); transform: translateX(-1%) rotateZ(9deg); filter: blur(0.5px);}
    50% {color: rgb(247, 181, 57); transform: translateX(0%); filter: blur(1.5px);}
    75% {color: rgb(216, 161, 60); transform: translateX(1%) rotateZ(-9deg); filter: blur(0.5px);}
    100% {color: rgb(155, 106, 16); transform: translateX(0);}
}

.HomePage {
    place-items: center;
    align-content: center;
    display: block;
    text-align: center;
    width: 100dvw;
    height: 100dvh;
    overflow-y: hidden;
}

.ShiftColorText {
    color: rgb(155, 106, 16);
    margin-bottom: 3dvh;
    margin-top: 3dvh;
    animation: shiftingTextColor 9s infinite linear;
}

.Block {
    place-items: center;
    display: grid;
    width: 100dvw;
    height: 95dvh;
    overflow: hidden;
    animation: backgroundColor 9s infinite linear;
    background-color: rgb(26, 26, 36);
}


.Main {
    color: rgb(155, 106, 16);
}

.AnimatedMainText {
    color: rgb(155, 106, 16);
    text-align: center;
    user-select: none;
    text-shadow: 5px 5px rgb(13, 13, 18);
}

/* Bottom part of the main page */

.MainSender {
    place-items: center;
    display: grid;
}

.MainSenderButton {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    user-select: none;
}

.MainSenderButton:hover {
    color: rgb(176, 151, 104);
}

.MainSenderButton:active {
    color: rgb(77, 61, 31);
}

/* Logo Images */

.logoImageBlock {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10vh;
    place-items: center;
}

.logoImage {
    border-radius: 50%;
    width: 10dvh;
    height: 10dvh;
    opacity: 1;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.logoImage:hover {
    opacity: 0.5;
}

.logoImage:active {
    opacity: 0;
}

/* Link Components */

a {
    color: wheat;
}
