.HomePage {
    place-items: center;
    align-content: center;
    display: grid;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.Block {
    place-items: center;
    display: grid;
    width: 100vw;
    height: 95vh;
    background-color: rgb(26, 26, 36);
}

.Main {
    color: wheat;
}