
.CarouselBody {
    width: 100dvw;
    place-content: center;
    place-items: center;
    text-align: center;
    background-color: rgb(26, 26, 36);
    color: wheat;
    text-shadow: 1dvw 1dvh black;
    user-select: none;
}

.CarouselArrowRight {
    position: relative;
    display: inline-block;
    font-size: 10dvw;
    left: 5dvw;
    user-select: none;
    text-shadow: 2dvw 2dvh black;
}

.CarouselArrowRight:hover {
    color: rgb(208, 162, 64);
}

.CarouselArrowRight:active {
    transform: translate3d(1dvh, 1dvh, 0px);
    text-shadow: 1dvw 1dvh black;
}

.CarouselArrowLeft {
    position: relative;
    display: inline-block;
    font-size: xx-large;
    right: 5dvw;
    user-select: none;
    font-size: 10dvw;
    text-shadow: 2dvw 2dvh black;
}

.CarouselArrowLeft:hover {
    color: rgb(208, 162, 64);
}

.CarouselArrowLeft:active {
    transform: translate3d(1dvh, 1dvh, 0px);
    text-shadow: 1dvw 1dvh black;
}

.CarouselSlide {
    display:block;
    place-content: center;
    place-items: center;
    display: inline-block;
    width: 50dvw;
    height: 50dvh;
    user-select: none;
}

.CarouselPicture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5dvw;
    box-shadow: 3dvw 3dvh black;
    user-select: none;
}

.CarouselPicture:hover {
    filter:brightness(0.55);
}

.CarouselPicture:active {
    transform: translate3d(2dvw, 2dvh, 0);
    box-shadow: 1dvw 1dvh black;
}