
.NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100dvw;
    overflow: hidden;
    height: 5dvh;
    background-color: rgb(0, 0, 0, 1);
    color: wheat;
    position: sticky;
    top: 0;
    z-index: 1;
}

.NavItem {
    display: grid;
    background-color: rgb(50, 28, 2, 1);
    float: left;
    width: 15dvw;
    height: 5dvh;
    text-align: center;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.NavText {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: center;
    justify-content: center;
    align-items: center;
    border-color: wheat;
    margin-top: 0.8%;
    text-decoration: none;
    user-select: none;
}


.NavItem:hover {
    background-color: rgb(84, 48, 3, 1);
}

.NavItem:active {
    background-color: black;
}