
.button-body {
    width: 10dvw;
    height: 5dvh;
    background-color: rgb(26, 26, 36);
    display: flex;
    flex-direction: column;
    text-align: center;

    align-items: center;
    justify-content: center;
    
    margin-left: 1dvw;
    margin-right: 1dvw;

    user-select: none;

    color: rgb(155, 106, 16);

    font-size: clamp(0.3rem, 1dvw, 1rem);
    font-weight: bold;

    border-radius: 15dvh;
    border-color: rgb(155, 106, 16);
    border-width: 0.2dvw;
    border-style: solid;
}