@keyframes movingBackground {
    to {
        background-position: var(--bg-size) 0;
    }
}


.MainPage {
    display: block;
    width: 100dvw;
    height: 95dvh;
    --bg-size: 300%;
    background: linear-gradient(90deg, rgb(195, 134, 22), rgb(155, 107, 18), rgb(195, 134, 22)) 0 0/var(--bg-size) 100%;
    animation: movingBackground 10s infinite linear;
}

.InfoBlock {
    position: absolute;
    width: 50dvw;
    display: grid;
    height: 85dvh;
    left: 25dvw;
    top: 10dvh;
    background-color: rgb(26, 26, 36);
    border-radius: 5dvw;
}

@media (width > 1000px)
{
    .InfoHeader {
        color: wheat;
        text-align: center;
        position: relative;
        font-size: 5rem;
        user-select: none;
    }

    .InfoButton {
        color: wheat;
        text-align: center;
        position: relative;
        font-size: 3.5rem;
        display: grid;
        align-items: center;
        background-color: rgb(71, 61, 15);
        border-radius: 50dvw;
        box-shadow: 0 0.7dvh rgb(47, 40, 10);
        margin-bottom: 2dvh;
        text-decoration: none;
        user-select: none;
    }

    .InfoButton:hover {
        background-color: rgb(59, 50, 12);
    }

    
    .InfoButton:active {
        transform: translate3d(0, 0.5dvh, 0);
        box-shadow: 0 0.2dvh rgb(47, 40, 10);
    }

    .InfoText {
        color: wheat;
        text-align: center;
        position: relative;
        font-size: 3rem;
    }
}
@media (width <= 1000px)
{
    .InfoHeader {
        color: wheat;
        text-align: center;
        position: relative;
        font-size: 3.9rem;
        user-select: none;
    }

    .InfoButton {
        color: wheat;
        text-align: center;
        position: relative;
        display: grid;
        align-items: center;
        font-size: 2rem;
        background-color: rgb(71, 61, 15);
        border-radius: 50dvw;
        box-shadow: 0 0.7dvh rgb(47, 40, 10);
        margin-bottom: 1dvh;
        user-select: none;
        text-decoration: none;
    }

    .InfoButton:hover {
        background-color: rgb(59, 50, 12);
    }

    .InfoButton:active {
        transform: translate3d(0, 0.5dvh, 0);
        box-shadow: 0.2dvw 0.2dvh rgb(47, 40, 10);
    }

    .InfoText {
        color: wheat;
        text-align: center;
        position: relative;
        font-size: 1.2rem;
    }
}