::-webkit-scrollbar {
    display: none;
}

.MainProjectsBlock {
    place-content: center;
    place-items: center;
    text-align: center;
    display: grid;
    width: 100dvw;
    overflow: hidden;
    background-color: rgb(26, 26, 36);
    color: rgb(155, 106, 16);
    text-shadow: 1dvw 1dvh  rgb(13, 13, 18);
}

.MainText {
    margin-top: 5dvh;
    user-select: none;
}

.SecondaryText {
    margin-top: 25dvh;
    user-select: none;
    text-shadow: 1dvw 1dvh  rgb(13, 13, 18);
    text-align: center;
}

.ThirdText {
    margin-top: 35dvh;
    user-select: none;
    text-align: center;
    text-shadow: 1dvw 1dvh  rgb(13, 13, 18);
}

.HintDownText {
    position: absolute;
    margin-top: 20dvh;
    margin-right: 5dvw;
    width: 100dvw;
    color: rgb(155, 106, 16);
    text-align: end;
    font-weight: bolder;
    text-shadow: 1dvw 1dvh  rgb(13, 13, 18);
}

.SecondHintDownText {
    position: absolute;
    margin-top: 125dvh;
    margin-right: 5dvw;
    width: 100dvw;
    color: rgb(155, 106, 16);
    text-align: end;
    font-weight: bolder;
    text-shadow: 1dvw 1dvh  rgb(13, 13, 18);
}

.ShowCaseImage {
    width: 80dvh;
    height: 50dvh;
}

.ProjectsBlock {
    place-items: center;
    place-content: center;
    display: grid;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    background-color: rgb(26, 26, 36);
    color: rgb(155, 106, 16);
}

@keyframes movingBackground {
    to {
        background-position: var(--bg-size) 0;
    }
}

.FancyText {
    --bg-size: 250%;
    background: linear-gradient(90deg, rgb(246, 160, 0), rgb(152, 105, 17), rgb(246, 160, 0)) 0 0/var(--bg-size) 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.6rem;
    animation: movingBackground 3s infinite linear;
    text-shadow: none;
    border-color: black;
}

.BottomBar {
    display: flex;
    place-content: center;
    place-items: center;
    background-color: black;
    width: 100dvw;
    height: 25dvh;
}

.BottomBarLogo {
    width: 15dvh;
    height: 15dvh;
    margin-left: 5dvw;
    margin-right: 5dvw;
    border-radius: 10dvh;
}

.BottomBarLogo:hover {
    filter: brightness(0.5);
}