@keyframes shiftingTextColorNoMove {
    0% {color: rgb(155, 106, 16);}
    25% {color: rgb(216, 161, 60);}
    50% {color: rgb(247, 181, 57);}
    75% {color: rgb(216, 161, 60);}
    100% {color: rgb(155, 106, 16);}
}

.MainWorkPage{
    background-color: rgb(26, 26, 36);
    height: 100dvh;
}

.MainWorkBlock{
    position: absolute;
    display: grid;
    place-content: center;
    text-align: center;
    width: 100dvw;
    color: rgb(155, 106, 16);
    animation: shiftingTextColorNoMove 9s infinite linear;
    user-select: none;
}

.MainWorkText{
    font-size: 5rem;
    text-shadow: 0.5dvw 0.5dvh black;
}

.SecondaryWorkText{
    margin-top: 5dvh;
    font-size: 1.5rem;
    text-shadow: 0.5dvw 0.5dvh black;
}

